// #0b0C10
// #1F2833
// #C5C6C7
// #66FCF1
// #45A29E

body {
    cursor: default;
    overflow: hidden;
    // background: url('https://i.imgur.com/8Wabb5a.png');
    // background: rgb(102,252,241);
    background: radial-gradient(circle, rgba(102,252,241,1) 0%, rgba(69,162,158,1) 0%, rgba(11,12,16,1) 100%);
    
    // background-color: #ccc;
    // height: 750px;
    // width: 7680px;
  }
  
  .bordered {
    background-color: #1f2833;
    border-radius: 25px;
    box-shadow: 5px 10px 18px #1F2833;
  }
  
  
  .main-container {
    max-width: 90%;
  }
  
  .icon-color {
    color: #66fcf1;
  }
  
  .content {
    margin-top: 12px;
  }
  
  .text-content {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 90%;
  }


  
  .content-label {
    font-size: 120%;
    margin-left: 5%;
  }

  .content-input {
    margin-left: 5%;
    font-size: 120%;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #1F2833;
    color: white;
  }

  .login-button {
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 15px;
    font-size: 150%;
  }
  .login-button:hover {
    background-color: #66FCF1;
    color: black;
    border-radius: 15px;
  }
  



  
  
  
  .big-name {
    font-family: "Unbounded", Regular;
    font-size: xx-large;
  }
  
  .content-title {
    font-style: bold;
    margin-left: 2%;
  }